
{% extends 'base/base.html' %}
{% block page_content %}
    <div class="delete-singer">
        <h2>Delete singer</h2>
        <form method="post" action="{% url 'delete singer' pk=singer.pk %}">
            {{ form.as_p }}
            <button class="delete-btn" type="submit">Delete</button>
            <a class="btn btn-primary" href="javascript:history.back()">
                <button class="delete-btn" type="button">Go back</button>
            </a>
            {% csrf_token %}
        </form>
    </div>
{% endblock %}
